services:
  api:
    image: proxum:latest
    environment:
      DATABASE_URL: postgres://user:password@db/users_db
    depends_on:
      - db
    ports:
      - "3000:3000"
  db:
    image: postgres:latest
    environment:
      POSTGRES_DB: users_db
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
